<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="6">
        <ion-item>
          <ion-label position="stacked">Cédula</ion-label>
          <ion-input [(ngModel)]="cedula" type="text" placeholder="Ingrese su cédula"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input [(ngModel)]="email" type="email" placeholder="Ingrese su email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Nueva Contraseña</ion-label>
          <ion-input [(ngModel)]="newPassword" type="password" placeholder="Ingrese la nueva contraseña"></ion-input>
        </ion-item>

        <ion-button expand="block" color="primary" (click)="resetPassword()">Restablecer Contraseña</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
