<ion-header>
  <ion-toolbar>
    <!-- Logo en la esquina derecha -->
    <ion-buttons slot="end">
      <img src="assets/img/clinudb.png" alt="Logo Empresa" class="logo-menu">
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/historial"></ion-back-button>
    </ion-buttons>
    <ion-title color="light" class="ion-text-center">Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="6">
        <ion-item>
          <ion-label position="stacked">Cédula</ion-label>
          <ion-input [(ngModel)]="cedula" type="text" placeholder="Ingrese su cédula"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input [(ngModel)]="email" type="email" placeholder="Ingrese su email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Nueva Contraseña</ion-label>
          <ion-input [(ngModel)]="newPassword" 
                     [type]="mostrarContrasena ? 'text' : 'password'" 
                     placeholder="Ingrese la nueva contraseña">
          </ion-input>
          <ion-button fill="clear" slot="end" (click)="toggleMostrarContrasena()" color="dark">
            <ion-icon [name]="mostrarContrasena ? 'eye-off' : 'eye'"></ion-icon>
          </ion-button>
        </ion-item>        

        <ion-button expand="block" color="primary" (click)="resetPassword()">Restablecer Contraseña</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
