<ion-header>
  <ion-toolbar>
    <!-- Logo en la esquina derecha -->
    <ion-buttons slot="end">
      <img src="assets/img/clinudb.png" alt="Logo Empresa" class="logo-menu">
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title color="light" class="ion-text-center">Historial de Mensajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button routerLink="/mensajes">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-content>
  <!-- Mostrar lista de mensajes con opciones de deslizar -->
  <ion-list *ngIf="mensajes.length > 0">
    <ion-item-sliding *ngFor="let mensaje of mensajes">
      
      <!-- Item de mensaje que lleva al chat -->
      <ion-item (click)="goToChat(mensaje)">
        <ion-label>
          <h2>{{ mensaje.user }}</h2>  <!-- Solo se muestra el nombre del remitente -->
          <p>{{ mensaje.mensaje }}</p>
        </ion-label>
      </ion-item>

      <!-- Botones deslizables para editar o eliminar -->
      <ion-item-options side="end">
        <!-- Botón de editar -->
        <ion-item-option (click)="editMensaje(mensaje)" color="primary">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-item-option>

        <!-- Botón de eliminar -->
        <ion-item-option (click)="deleteMensaje(mensaje)" color="danger">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  <div *ngIf="mensajes.length === 0" class="no-messages">
    <p>No hay mensajes aún.</p>
  </div>
</ion-content>
