<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title>Historial de Mensajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button routerLink="/mensajes">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-content>
  <!-- Mostrar lista de mensajes -->
  <ion-list>
    <ion-item *ngFor="let mensaje of mensajes">
      <ion-label>
        <h2>{{ mensaje.nom_medico || mensaje.nom_usuario }} {{ mensaje.ape_medico || mensaje.ape_usuario }}</h2>
        <p>{{ mensaje.mensaje }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
