<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Signos Vitales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (submit)="submitSignos()">
    <ion-item>
      <ion-label position="floating">Presión</ion-label>
      <ion-input [(ngModel)]="signos.precion" type="number" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Glucosa</ion-label>
      <ion-input [(ngModel)]="signos.glucosa" type="number" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Peso</ion-label>
      <ion-input [(ngModel)]="signos.peso" type="number" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Glicemia</ion-label>
      <ion-input [(ngModel)]="signos.glicemia" type="number" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Pulso</ion-label>
      <ion-input [(ngModel)]="signos.pulso" type="number" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Temperatura</ion-label>
      <ion-input [(ngModel)]="signos.temperatura" type="number" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Agregar Signos</ion-button>
  </form>
</ion-content>
