<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/signos"></ion-back-button>
    </ion-buttons>
    <ion-title>Añadir Signos Vitales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="submitSignos()">

    <!-- Desplegable para seleccionar el paciente, solo si el usuario es médico -->
    <ion-item *ngIf="role === 'medico'">
      <ion-label>Seleccionar Paciente</ion-label>
      <ion-select [(ngModel)]="signos.cod_usuario" name="cod_usuario" interface="popover" placeholder="Seleccione un paciente" required>
        <ion-select-option *ngFor="let paciente of pacientes" [value]="paciente.cod_usuario">
          {{ paciente.nom_usuario }} {{ paciente.ape_usuario }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Presión</ion-label>
      <ion-input [(ngModel)]="signos.precion" type="number" name="precion" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Glucosa</ion-label>
      <ion-input [(ngModel)]="signos.glucosa" type="number" name="glucosa" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Peso</ion-label>
      <ion-input [(ngModel)]="signos.peso" type="number" name="peso" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Glicemia</ion-label>
      <ion-input [(ngModel)]="signos.glicemia" type="number" name="glicemia" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Pulso</ion-label>
      <ion-input [(ngModel)]="signos.pulso" type="number" name="pulso" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Temperatura</ion-label>
      <ion-input [(ngModel)]="signos.temperatura" type="number" name="temperatura" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Guardar Signos</ion-button>
  </form>
</ion-content>
