<ion-header>
  <ion-toolbar>
     <!-- Logo en la esquina derecha -->
     <ion-buttons slot="end">
      <img src="assets/img/clinudb.png" alt="Logo Empresa" class="logo-menu">
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title color="light" class="ion-text-center">Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="mensajes.length > 0">
    <!-- Ciclo para mostrar los mensajes -->
    <ion-item *ngFor="let mensaje of mensajes" 
              [ngClass]="{ 'sent-message': mensaje.isSentByUser, 'received-message': !mensaje.isSentByUser }">
      <ion-label class="message-content">
        <!-- Mostrar el nombre del emisor del mensaje -->
        <h3>{{ mensaje.isSentByUser ? userName : chatPartnerName }}:</h3>
        <p>{{ mensaje.mensaje }}</p>
        <span class="timestamp">{{ mensaje.timestamp | date: 'shortTime' }}</span>
      </ion-label>
    </ion-item>
  </ion-list>

  <div *ngIf="mensajes.length === 0" class="no-messages">
    <p>No hay mensajes aún.</p>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-input [(ngModel)]="nuevoMensaje" placeholder="Escribe un mensaje..." type="text"></ion-input>
    <ion-button (click)="enviarMensaje()" expand="full" [disabled]="!nuevoMensaje">Enviar</ion-button>
  </ion-toolbar>
</ion-footer>