/* Ajustar el tamaño del logo en el menú */
.logo-container-menu {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.logo-menu {
  max-width: 40px; /* Ajusta el tamaño del logo según sea necesario */
  max-height: 40px;
  border-radius: 50%;
  margin-left: 10px; /* Espaciado opcional a la izquierda */
}

.menu-list ion-item {
  --background: #ffffff;
  --color: #A2478A;  /* Color 1 */
}

ion-header {
  --background: #A2478A;  /* Color 1 */
  color: #ffffff;
}

ion-title {
  color: #ffffff;
  text-align: center;
}

ion-toolbar {
  --background: #A2478A;  /* Color 1 */
}

ion-button {
  --color: #ffffff;
}

ion-buttons[slot="end"] {
  margin-right: 10px; /* Espaciado opcional a la derecha */
}

ion-badge {
  --background: #ff0000;  /* Color para notificaciones */
}

.menu-list ion-icon {
  color: #009999;  /* Color 2 */
}

.menu-list ion-label {
  color: #A2478A;  /* Color 1 */
}

ion-content {
  --background: #ffffff;  /* Color 3 */
}
