

<ion-content>
  <div class="login-container">
    <ion-card class="login-card">
      <!-- Logo de la empresa -->
      <div class="logo-container">
        <img src="assets/img/clinud.jpg" alt="Logo Empresa" class="logo">
      </div>

      <ion-card-header>
        <ion-card-title class="card-title">Iniciar Sesión</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item class="custom-input">
          <ion-label position="floating">Usuario</ion-label>
          <ion-input [(ngModel)]="username" type="text" required></ion-input>
        </ion-item>

        <ion-item class="custom-input">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input [(ngModel)]="password" type="password" required></ion-input>
        </ion-item>

        <ion-button expand="full" color="primary" (click)="login()" class="login-button">Iniciar Sesión</ion-button>

        <!-- Botón de Recuperar Contraseña -->
        <ion-button expand="full" fill="clear" color="secondary" class="forgot-password-button" (click)="recoverPassword()">
          Recuperar Contraseña
        </ion-button>

        <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

        <!-- Redes Sociales -->
        <div class="social-media-container">
          <ion-button fill="clear" href="https://www.facebook.com/nutricionydiabetes2" target="_blank">
            <ion-icon name="logo-facebook" class="social-icon"></ion-icon>
          </ion-button>
          <ion-button fill="clear" href="https://www.instagram.com/clinud/" target="_blank">
            <ion-icon name="logo-instagram" class="social-icon"></ion-icon>
          </ion-button>
          <ion-button fill="clear" href="https://api.whatsapp.com/send?phone=56944606350&text=Hola%2C%20buenos%20dias" target="_blank">
            <ion-icon name="logo-whatsapp" class="social-icon"></ion-icon>
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
