.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #ffffff;
}

.login-card {
  width: 100%;
  max-width: 400px;
}

.logo-container {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.logo {
  max-width: 150px;
}

.card-title {
  text-align: center;
  font-size: 1.5rem;
  color: #A2478A;  /* Color 1 */
}

.custom-input ion-label {
  color: #009999;  /* Color 2 */
}

.login-button {
  --background: #A2478A;  /* Color 1 */
}

.forgot-password-button {
  --color: #009999;  /* Color 2 */
}

.social-media-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-icon {
  font-size: 24px;
  color: #A2478A;  /* Color 1 */
}

.error-message {
  color: #ff0000;
  text-align: center;
  margin-top: 10px;
}
