<ion-header>
  <ion-toolbar>
    <!-- Logo en la esquina derecha -->
    <ion-buttons slot="end">
      <img src="assets/img/clinudb.png" alt="Logo Empresa" class="logo-menu">
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/historial"></ion-back-button>
    </ion-buttons>
    <ion-title color="light" class="ion-text-center">Enviar Mensaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Tarjeta de envío de mensajes -->
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Nuevo Mensaje</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <!-- Campo de búsqueda para destinatarios -->
      <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="filterRecipients($event)" placeholder="Buscar por nombre..."></ion-searchbar>

      <!-- Seleccionar destinatario -->
      <ion-item>
        <ion-label>Destinatario</ion-label>
        <ion-select [(ngModel)]="selectedRecipient" interface="action-sheet">
          <ion-select-option *ngFor="let recipient of filteredRecipients" [value]="recipient">
            {{ recipient.nom }} {{ recipient.ape }} - {{ recipient.tipo === 'medico' ? 'Médico' : 'Paciente' }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Mostrar destinatario seleccionado -->
      <ion-item *ngIf="selectedRecipient">
        <ion-label>
          <strong>Mensaje a:</strong>
          {{ selectedRecipient.nom }} {{ selectedRecipient.ape }} ({{ selectedRecipient.tipo === 'medico' ? 'Médico' : 'Paciente' }})
        </ion-label>
      </ion-item>

      <!-- Campo para escribir el mensaje -->
      <ion-item>
        <ion-label position="floating">Escribe tu mensaje</ion-label>
        <ion-textarea [(ngModel)]="mensaje.mensaje" required></ion-textarea> <!-- Cambiado a mensaje.mensaje -->
      </ion-item>

      <!-- Botón para enviar el mensaje -->
      <ion-button expand="full" color="primary" (click)="enviarMensaje()">Enviar Mensaje</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
